{% extends "base.jinja2" %}

{% block style %}
    .profile-img {
        max-width: 150px;
    }
{% endblock %}

{% block content %}
    <div class="mt-4 mb-4 container">
        <ul class="nav justify-content-center mb-4">
            <li class="nav-item">
                <a class="nav-link" href="/students/{{ student.id }}">학생 상세</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students/{{ student.id }}/attendance">출결 현황</a>
            </li>
        </ul>
        <div id="student-profile" class="mb-4">
            <div id="student-header" class="text-center">
                <img src="/static/default-user-image.png"
                     class="profile-img rounded-circle" alt="User Image">
                <h2>{{ student.name }}</h2>
                <p>학부모님 <b>{{ student.parent_phone_number }}</b></p>
                {% if student.status %}
                    <span class="badge badge-secondary badge-pill">{{ student.status }}</span>
                {% endif %}
            </div>
            {% block detail %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}